.profile__window {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-block: 70px;
    max-width: 358px;
    background: #202020;
}

.profile__logo {
    align-self: flex-start;
}

.profile__title {
    align-self: flex-start;

    margin-bottom: 50px;
    margin-top: 40px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__reg {
    color: #8B8B8B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-top: 16px;
}

.profile__reg:hover {
    opacity: 0.6;
}

.profile__label {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #8B8B8B;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.profile__input {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 27px;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    outline: 0;
    max-width: 396px;
    border: none;
    background-color: #202020;
    border-bottom: 1px solid #424242;
}

.profile__input:last-of-type {
    margin-bottom: 0;
}

.profile__input::placeholder {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile__form {
    display: flex;
    width: 100%;
    flex-direction: column;
}


.profile__button {
    width: 100%;
    height: 50px;
    margin-top: 216px;
    padding: 14px;
    border-style: none;

    border-radius: 3px;
    background: #4285F4;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__reg-default {
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.profile__edit {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border-style: none;
    margin-top: 220px;
}

.profile__logout {
    color: #EE3465;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
    background: none;
    border-style: none;
}