.not-found {
    max-width: 1280px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-block: 60px;
    margin: 0 auto;
}

.not-found__error-status {
    color: #FFF;
    text-align: center;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 184px;
    margin-bottom: 6px;

}

.not-found__error-status-text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 184px;
    margin-top: 0px;
}

.not-found__return{
    background-color: #202020;
    border-style: none;
}


.not-found__return-text {
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}